<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.junhyuk.daedo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".application.DaedoApplication"
        android:allowBackup="false"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".main.bottomItem.post.activity.PostActivity"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".main.activity.MainActivity"
            android:label="@string/title_activity_feed" />
        <activity
            android:name=".signUp.activity.SignUpNameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".signUp.activity.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".emailLogin.emailLoginActivity.EmailLoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feed.comment.SendCommentActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".intro.Intro"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>